/*--reset--*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*--start editing from here--*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*--end reset--*/
body {
    font-family: 'Open Sans', sans-serif; 
	background:#024588;
    background-attachment: fixed;
}
h1 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 100;
}
/*-- main --*/
.main {
    padding: 3em 0 0;
}
.main-agilerow {
    width: 35%;
    margin:4em auto; 
    text-align: center;
}  
.sub-w3lsright{
	background-color: #fff;
	padding:5em 4em; 
} 
.sub-w3lsright h2 {
    font-family: 'Old Standard TT', serif;
    font-size: 1.8em;
    letter-spacing: 1px;
    color: #000;
    text-transform: uppercase;
    line-height: 1.8em;
}
.sub-w3lsright p {
    font-size: 0.9em;
    color: #000;
    margin: 2em 0 3em;
    letter-spacing: 1px;
    word-wrap: break-word;
    word-break: break-all;
}
.sub-w3lsright p span {
    color: #03b441;
    font-weight: 900;
}
.sub-w3lsright p span a{
    color: #03b441;
    font-weight: 900;
}
.sub-w3lsright input[type="text"] {
    width: 91.3%;
    padding: 1.6em 1em;
    font-size: 0.9em;
    color: #999;
    outline: none;
    border: 1px solid #ddd;
    background: none;
    -webkit-appearance: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
}
.sub-w3lsright textarea[name="pastebin"] {
    width: 100%;
    resize: none;
    height: 134px;
    font-size: 1.1em;
    color: #000;
    border: 1px solid #ddd;
}
.sub-w3lsright input[type="submit"] {
    color: #fff;
    font-size: 0.9em;
    outline: none;
    padding: 0.9em 1em;
    border: 1px solid #0256aa; 
    -webkit-appearance: none;
    background:#0256aa;
    width: 100%;
    cursor: pointer;
    margin-top: 1.5em;
    text-transform: uppercase;
    letter-spacing: 4px;
	-webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
}
.sub-w3lsright input[type="button"] {
    color: #fff;
    font-size: 0.9em;
    outline: none;
    padding: 0.9em 1em;
    border: 1px solid #0256aa;
    -webkit-appearance: none;
    background:#0256aa;
    width: 100%;
    cursor: pointer;
    margin-top: 1.5em;
    text-transform: uppercase;
    letter-spacing: 4px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
}
.sub-w3lsright input[type="submit"]:hover { 
    background: transparent;
    color: #024588; 
	letter-spacing: 6px;
} 
::-webkit-input-placeholder {
	color:#999 !important;
}
:-moz-placeholder { /* Firefox 18- */
	color:#999 !important;
}
::-moz-placeholder {  /* Firefox 19+ */
	color:#999 !important;
}
:-ms-input-placeholder {  
	color:#999 !important;
}
/*-- //main --*/ 
/*-- stack effect --*/ 
.stack img { width: 100%; height: auto; vertical-align: bottom; border: 10px solid #fff; border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.stack:last-of-type { margin-right: 0; }

/* Third stack example (One stack element rotated in the opposite direction) */
.stack.twisted:before {
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-o-transform: rotate(4deg);
}	
.stack.twisted:after {
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
}	
/* Reset all rotations on hover */
.stack:hover:before, .stack:hover:after,.team-grid:hover .stack:before,.team-grid:hover .stack:after{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
}
/* Stacks creted by the use of generated content */
.stack:before, .stack:after { content: ""; border-radius: 3px; width: 100%; height: 100%; position: absolute; border: 10px solid #fff; left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-webkit-transition: 0.3s all ease-out;
	-moz-transition: 0.3s all ease-out;
	transition: 0.3s all ease-out;
	-o-transition: 0.3s all ease-out;
	-ms-transition: 0.3s all ease-out;
}
.stack:before { top: 4px; z-index: -10; } /* 1st element in stack (behind image) */	
.stack:after { top: 8px; z-index: -20; } /* 2nd element in stack (behind image) */
.stack { 
    position: relative;
    z-index: 1;
}
/*-- //stack effect --*/
/*-- copyright --*/
.copyw3-agile { 
    text-align: center;
	margin:2em 0;
}
.copyw3-agile p {
    font-size: 0.9em;
    color: #fff;
    line-height: 1.8em;
    letter-spacing: 1px;
}
.copyw3-agile p a{
    color: #fff; 
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
    transition-delay: 0s;
}
.copyw3-agile p a:hover{
    color: #000;	
}
/*-- //copyright --*/ 
/*-- responsive-design --*/
@media(max-width:1440px){
}
@media(max-width:1366px){
.main {
    padding: 2em 0 0;
}
.main-agilerow { 
    margin: 3em auto; 
}
}
@media(max-width:1280px){
.main-agilerow {
    width: 38%; 
}
}
@media(max-width:1080px){
.main-agilerow {
    width: 44%; 
}
}
@media(max-width:1024px){
.sub-w3lsright h2 { 
    font-size: 1.7em; 
} 
}
@media(max-width:991px){
.main-agilerow {
    width: 48%;
} 
}
@media(max-width:800px){
h1 {
    font-size: 2.6em; 
}
.main-agilerow {
    width: 59%;
	letter-spacing: 0px;
}
.sub-w3lsright p { 
    margin: 1.5em 0 2em; 
}
}
@media(max-width:736px){
h1 {
    font-size: 2.4em;
}
.sub-w3lsright h2 {
    font-size: 1.5em;
}
.sub-w3lsright p {
    font-size: 0.8em; 
} 
}
@media(max-width:667px){
h1 {
    font-size: 2em;
}
.main-agilerow {
    width: 72%; 
} 
}
@media(max-width:600px){
.copyw3-agile p { 
    letter-spacing: 0px;
}
.sub-w3lsright { 
    padding: 4.5em 3em;
}
.sub-w3lsright input[type="text"] {
    width: 90.3%; 
}
}
@media(max-width:480px){
.main {
    padding: 1em 0 0;
}
.sub-w3lsright h2 {
    font-size: 1.3em;
}
.main-agilerow {
    width: 83%;
} 
}
@media(max-width:414px){
.sub-w3lsright input[type="text"] {
    width: 88.3%;
    font-size: 0.8em;
}
.sub-w3lsright h2 {
    font-size: 1.1em;
}
.sub-w3lsright input[type="submit"] { 
    font-size: 0.8em; 
}
.copyw3-agile p { 
    padding: 0 1em;
} 
h1 {
    font-size: 1.8em;
}
.main-agilerow {
    margin: 2em auto;
}
} 
@media(max-width:375px){
.sub-w3lsright {
    padding: 3.5em 2em;
}
}
@media(max-width:320px){
h1 {
    font-size: 1.5em;
}
.sub-w3lsright h2 {
    font-size: 1em;
    letter-spacing: 0px;
}
.sub-w3lsright p {
    font-size: 0.75em;
    letter-spacing: 0px;
	 margin: 1em 0 1em;
}
.sub-w3lsright input[type="text"] {
    width: 85.3%; 
}
.sub-w3lsright input[type="submit"] { 
    letter-spacing: 2px; 
}
.sub-w3lsright {
    padding: 3em 2em;
}
}
/*-- //responsive-design --*/
/*--
CSS Author: W3layouts
CSS Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/